
# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# IDE-specific
.vscode/
.idea/

# Build output
dist/
